<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= user.firstName %> <%= user.lastName %></title>
</head>
<body>
  <div>
    <span><%= user.firstName %></span>
    <span><%= user.lastName %></span>
    <span><%= user.email %></span>
    <span><%= user.dob %></span>
    <form action="<%= '/users/' + user.id + '?_method=DELETE' %>" method='POST'>
      <button>X</button>
    </form>
    <a href="<%= '/users/'+user.id+'/edit' %>">edit</a>
    <a href='/'>Back</a>
  </div>
</body>
</html>
